*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
    outline: none; 
    border: none; 
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 12rem;
    background-color: rgb(255, 137, 94);
    text-align: center;
}
header h1{
    padding: 1rem;
    font-size: 4rem;
}
header input{
    width: 50%;
    height: 3rem;
    margin-right: 1rem;
    padding-left: 1rem;
}
header .btn{
    width: 25%;
    background: #e4e4e4;
    padding: 1rem;
    height: 3rem;
    cursor: pointer;
}
header .btn:hover{
    background: #d3d3d3;
}
ul li{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    background-color: aliceblue;
}
ul li:nth-child(odd) {
    background: #e4e4e4;
  }
  
ul li:hover{
    background-color: rgb(179, 179, 179);
}
ul li.checked{
    background-color: rgb(97, 97, 97);
    color: white;
    text-decoration: line-through;
}
ul li.checked i.fa-times{
    text-decoration: none;
}
ul li.checked::before {
    content: '';
    position: relative;
    border-color: #fff;
    border-style: solid;
    border-width: 0 .2rem .2rem 0;
    top: 1rem;
    left: 1.6rem;
    transform: rotate(45deg);
    height: 1.5rem;
    width: .7rem;
}
ul li p{
    margin: .5rem;
}
ul li .fa-times{
    text-decoration: none;
    padding: 1rem;
}
ul li .fa-times:hover{
    color: white;
    background-color: red;
    
}